@using SACA_Common.DTOs.Account.Response
@using SACA_Common.Enums
@model AccountView

@{
    ViewData["Title"] = "Account Details";
    Layout = "_Layout";
}

<div class="p-4 container mx-auto">
    <!-- Title -->
    <div class="mb-4 flex items-center justify-between">
        <h1 class="text-2xl font-bold">Account Details</h1>
        <a href="@Url.Action("Index", "AccountManagement")" class="bg-gray-200 text-gray-800 py-2 px-4 rounded">Back to List</a>
    </div>

    <!-- Account Details -->
    <div class="p-7 bg-white text-gray-800 rounded-md shadow">
        <div class="gap-4 grid grid-cols-1 md:grid-cols-2">
            <div>
                <label class="text-gray-600 font-semibold">Full Name:</label>
                <p class="text-gray-800">@Model.fullname</p>
            </div>
            <div>
                <label class="text-gray-600 font-semibold">Email:</label>
                <p class="text-gray-800">@Model.email</p>
            </div>
            <div>
                <label class="text-gray-600 font-semibold">Username:</label>
                <p class="text-gray-800">@Model.username</p>
            </div>
            <div>
                <label class="text-gray-600 font-semibold">Status:</label>
                <p class="text-gray-800">
                    @switch (Model.status)
                    {
                        case (int)eStatus_Account.InActive:
                            <span class="text-red-500 font-semibold">Inactive</span>
                            ; break;
                        case (int)eStatus_Account.Active:
                            <span class="text-green-500 font-semibold">Active</span>
                            ; break;
                    }
                </p>
            </div>
            <div>
                <label class="text-gray-600 font-semibold">Last Login:</label>
                <p class="text-gray-800">@(Model.last_login?.ToString("yyyy-MM-dd HH:mm:ss") ?? "N/A")</p>
            </div>
            <div>
                <label class="text-gray-600 font-semibold">Role:</label>
                <p class="text-gray-800">@Model.role_name</p>
            </div>
        </div>
    </div>
</div>
